@import 'src/styles/shared.scss';

.nav {
    height: 70px;
    width: 100%;
    padding: 0 30px;
    
    // background-color: $mainColor;
    background-color: white;
    border-bottom: 5px solid $mainColor;

    color: $mainColor;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > * {
        margin: auto 0;
    }
}

.title {
    font-size: 1.3rem;
    color: $mainColor;
}

.links_ul {
    list-style: none;
    display: flex;
    flex-direction: row;

    li {
        padding: 0 10px;
        margin: auto 0;
    }
}